{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNezZone</title>
    <link rel="stylesheet" href="{% static 'blogstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
        <i class="fas fa-dumbbell"></i>FitNezZone
        </a>
        <nav class="navbar">
            <a href="/">Home</a>
        </nav>
    </header>
    <section class="home">
        <div class="max-width">
            <div class="home-content">
                <h3>Mindfulness Activities</h3>
            </div>
            <div class="home-image">
                <img src="{% static 'blog1.png' %}" alt="">
            </div>      
        </div>
    </section>

    <section class="home2">
        <div class="max-width2" id="aboutus">
            <div class="home-content">
                <h3>BLOG</h3><br>
                <p>It’s Mental Health Awareness Month and a great opportunity to practice being more mindful in our everyday lives!</p><br>
                <p>It’s interesting to me that not long ago, no one was really talking about mindfulness. Now, I feel like it’s everywhere. And it’s so awesome! Being tuned into the moment, really enjoying what’s happening right now, is so, SO powerful. Like, life changing.  </p><br>
                <p>But it’s hard, right? With life running a million miles a minute and a thousand things you want to do, it can be hard to slow down enough to do even a few minutes of mindfulness activities. But don’t you worry, girl! I’ve got you. I’ve put together some of my best tips to help you stay in the moment during your everyday routine.
                </p>
        </div>
    </section>
    
    <section class="home2">
        <div class="max-width2" id="aboutus">
            <div class="home-content">
                <h3>EVERYDAY MINDFULNESS ACTIVITIES</h3><br>
                <h6>MINDFUL EATING</h6>
                <p>How often do you scarf down a meal before running to class or mindlessly eat while you’re in front of the TV? Change it up, girl!</p><br>
                <p>Try being mindful when you’re eating. Slow down and really taste each bite. Have a moment of admiration for the beautiful meal in front of you. You’ll get so much more out of mealtime this way!</p><br>
                <p>If mindful eating is hard for you, it can be helpful to take a few minutes after you eat to make notes on your meal. Don’t just write down the basics, like what you ate and the nutrient breakdown, but also note how it made you feel. You might learn more about healthy food options that make you super happy!</p>
                <p>Quality, nutritious food choices can go a long way in impacting both your physical and mental wellbeing.</p>
                <p>A better diet = a healthier lifestyle = better mental health!</p>
                <br>
                <img src="{% static 'm_eat.jpg' %}" alt="" width="800" height="400">
        </div>
    </section>

    <section class="home2">
        <div class="max-width2" id="aboutus">
            <div class="home-content">
                <h6>MINDFUL LISTENING</h6>
                <p>Okay, I know we all struggle with this. But of all the mindfulness activities, this is the one that will make the biggest difference for the people you care most about.</p><br>
                <p>Here’s what I do: </p><br>
                <p>If I’m going to meet up with a friend but I know my brain is going a mile a minute, I carve out a few minutes to sit with my notebook or #GOALS Planner. I make notes about stuff I don’t want to forget and put stuff on my calendar to deal with later. </p>
                <p>That way, when I show up with my friend, I can be totally, 100% present with her. I can tune into everything she’s saying and really enjoy the time with her. And I think it makes the hangout sesh better for both of us! </p>
                <br>
                <img src="{% static 'm_listen.jpg' %}" alt="" width="800" height="400">
        </div>
    </section>

    <section class="home2">
        <div class="max-width2" id="aboutus">
            <div class="home-content">
                <h6>MINDFUL MEDITATION</h6>
                <p>Meditation is one of those ideas of mindfulness that can feel really intimidating if you’re not sure where to start. But meditating helps to slash stress and increase your self-awareness, plus it makes you feel better. And it can even make you more creative and patient! (You don’t have to take my word for it. Check out this research.)
                </p><br>
                <p>My top tips to make meditation feel way easier are:</p><br>
                <p>Start with ten minutes a day. Seriously, you can do anything for ten minutes! Roll out your LSF Yoga Mat and try carving out this little bit of time in your schedule for a week and see how you feel. </p>
                <p>Use guided meditations. Just sitting there can be tricky if you haven’t figured out how to quiet and calm your brain. I love using guided meditations to help me hold this space for myself. There are a bunch on YouTube and Spotify (you can even type in “10 minute guided meditation”) or you can try an app. Both Headspace and Calm have free trials so you can take them for a spin. I also have mindfulness and relaxing yoga classes on LSF the App.
                ideas for self care </p>
                <br>
                <img src="{% static 'm_medi.jpg' %}" alt="" width="800" height="400">
        </div>
    </section>

    <section class="home2">
        <div class="max-width2" id="aboutus">
            <div class="home-content">
                <h6>MINDFUL REFLECTION</h6>
                <p>I’ve found that one of the most helpful tools to improve mindfulness is just having a place to put stuff to get it out of my brain! Seriously, it’s so hard to be in the moment when the to-do list in your head is seven miles long. </p>
                <br>
                <img src="{% static 'm_ref.jpg' %}" alt="" width="800" height="400">
        </div>
    </section>
    
</body>
</html>