{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FitNezZone</title>
    <link rel="stylesheet" href="{% static 'blogstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>

<body>
    <header class="header">
        <a href="#" class="logo">
        <i class="fas fa-dumbbell"></i>FitNezZone
        </a>
        <nav class="navbar">
            <a href="/">Home</a>
        </nav>
    </header>
    <section class="home">
        <div class="max-width">
            <div class="home-content">
                <h3>STRESS IMPACTS ON A WEIGHT</h3>
            </div>
            <div class="home-image">
                <img src="{% static 'nl1.jpg' %}" alt="">
            </div>      
        </div>
    </section>

    <section class="home2">
        <div class="max-width2" id="aboutus">
            <div class="home-content">
                <h3>NewsLetter</h3><br>
                <p>Please tell me I’m not alone in feeling stressed out.</p>
                <p>Don’t get me wrong, I LOVE this time of year, but I’ve been feeling overwhelmed by how much I have to, and WANT, to do!</p>
                <p>Between work, family, friends, parties, etc. it’s just… a lot. </p>
                <p>I know I have to keep it in check though – stress is your waistline’s worst enemy!</p>
                <p>Stress impacts your weight, adjust your routine, holiday routine, holiday survival guide, how to build a routine, healthy routines, my daily routine</p>
        </div>
    </section>
    
    <section class="home2">
        <div class="max-width2">
            <div class="home-content">
                <h3>STRESS MAKES YOU GAIN WEIGHT</h3>
                <p>One day of unexpected stress may not be a big deal, but an entire season feeling overwhelmed (even with good stuff!) is. </p>
                <p>Chronic stress elevates your cortisol levels – aka your stress hormones.</p>
                <p>That means when we’re stressed our appetite increases.
                </p>
                <p>Increased appetite leads to excess weight gain and trouble losing weight. </p>
        </div>
    </section>

    <section class="home2">
        <div class="max-width2">
            <div class="home-content">
                <h3>WHY YOU’RE GAINING BELLY FAT</h3><br>
                <p>The worst part? Stress impacts where you gain weight.  </p>
                <p>Most of the excess fat will end up in your stomach.</p>
                <p>I know, I wish we could just send it to our boobs or our butts, right? It’s like some cruel joke.
                </p>
                <p>Stress impacts your weight, adjust your routine, holiday routine, holiday survival guide, how to build a routine, healthy routines, my daily routine </p>
        </div>
    </section>

    <section class="home2">
        <div class="max-width2">
            <div class="home-content">
                <h3>HOW TO DEAL WITH STRESS</h3><br>
                <p>Whenever I start feeling super stressed I always hit pause, turn on some happy music, and make myself a warm coffee (½ caff lately) with my Miss Congeniality mood boost! </p><br>
                <p>It’s loaded with vitamins, minerals and adaptogens that help reduce my stress and literally make me feel so much happier. </p><br>
                <p>You’ve got to go read other girls’ reviews too! It’s insane!
                </p>
                <p>Get yours here.</p>
                <p>Stress impacts your weight, adjust your routine, holiday routine, holiday survival guide, how to build a routine, healthy routines, my daily routine</p>
                <p>When I pair Miss Congeniality with a healthy daily routine – it’s a GAME CHANGER!</p>
                <p>I feel happier, calmer, and way more ready to take on anything the week throws at me.</p>
                <p>I can’t wait for you to experience it too!</p>
                <p>Join our community and feel happy </p>
        </div>
    </section>

    
</body>
</html>
